@import "../../../../styles.scss";

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px;
  i {
    font-size: 84px;
    color: $textColor;
  }
}

.options {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 40px;
  margin: 64px 0px;

  li {
    width: 30%;
    text-align: center;
    font-size: 24px;
    border: 3px solid $primaryColor;
    border-radius: 10px;
    color: $primaryColor;
    padding: 32px 0px;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;

    &:hover {
      background-color: $primaryColor;
      color: #333333;
      cursor: pointer;
    }
  }
}

.window-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;

  .window-content {
    padding: 32px;
    background-color: $textColor;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 550px;
    position: relative;

    h4 {
      color: #333333;
      margin-bottom: 32px;
    }

    .timeBtn {
      width: 100%;
      padding: 16px 32px;
      border-radius: 10px;
      margin-bottom: 16px;
      border: 1px solid #33333398;
      display: flex;
      justify-content: space-between;
      direction: rtl;
      font-size: 24px;
      transition: all 0.3s ease;

      i {
        font-size: 40px;
      }

      &:hover {
        background-color: darken($color: $textColor, $amount: 10);
        cursor: pointer;
        box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
      }
    }

    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      border: none;
      font-size: 20px;
      background-color: $textColor;
      transition: color 0.3s ease;

      &:hover {
        cursor: pointer;
        color: $accentColor;
      }
    }
  }
}

.check {
  color: #4caf50 !important;
}

.check,
.circle {
  border: 1px solid #333333;
  border-radius: 50%;
}

.active {
  background-color: $primaryColor;

  &:hover {
    background-color: $primaryColor !important;
  }
}
