<div class="page-container">
  <div class="content-container">
    <div class="temporary-template-container" *ngIf="isAdminOnly()" @fadeUp>
      <div class="temporary-template">
        <i class="material-icons">person</i>
        <h4>{{ currentUser.firstname }} {{ currentUser.lastname }}</h4>
        <h5>בחר פעולה מסרגל הפעולות</h5>
      </div>
    </div>
    <section>
      <ng-container *ngIf="!isAdminOnly()">
        <router-outlet></router-outlet>
      </ng-container>
    </section>
  </div>
  <div class="admin-actions-container" [ngClass]="{ openadminactions: isOpen }">
    <h5 style="text-decoration: underline">
      {{ currentUser.firstname }} {{ currentUser.lastname }}
    </h5>
    <button
      class="primary-button"
      (click)="toggleMenu()"
      (click)="returnHome()"
    >
      חזרה לדף בית <i class="material-icons">home</i>
    </button>
    <button
      class="primary-button"
      routerLink="/admin/shifts"
      routerLinkActive="active"
      (click)="toggleMenu()"
    >
      טבלת משמרות
      <i class="material-icons">calendar_month</i>
    </button>
    <button
      class="primary-button"
      routerLink="/admin/add-user"
      routerLinkActive="active"
      (click)="toggleMenu()"
    >
      הוספת משתמש <i class="material-icons">person_add</i>
    </button>
    <button
      class="primary-button"
      routerLink="/admin/edit-user"
      routerLinkActive="active"
      (click)="toggleMenu()"
    >
      פעולות למשתמש <i class="material-icons">manage_accounts</i>
    </button>
    <button
      class="primary-button"
      routerLink="/admin/add-broadcast"
      routerLinkActive="active"
      (click)="toggleMenu()"
    >
      הוספת הודעה לדף הבית <i class="material-icons">feedback</i>
    </button>
    <button
      class="primary-button"
      routerLink="/admin/switch-shifts"
      routerLinkActive="active"
      (click)="toggleMenu()"
    >
      בקשות להחלפת משמרת <i class="material-icons">sync</i>
    </button>
    <button
      class="primary-button"
      routerLink="/admin/settings"
      routerLinkActive="active"
      (click)="toggleMenu()"
    >
      הגדרות מערכת <i class="material-icons">settings</i>
    </button>
  </div>

  <div class="burger-container">
    <div class="menu-icon" (click)="toggleMenu()">
      <span class="bar" [ngClass]="{ open: isOpen }"></span>
      <span class="bar" [ngClass]="{ open: isOpen }"></span>
      <span class="bar" [ngClass]="{ open: isOpen }"></span>
    </div>
  </div>
  <div class="page-fade" [ngClass]="{ adminactionsopen: isOpen }"></div>
</div>
