@import "../../../../styles.scss";

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px;
  i {
    font-size: 84px;
    color: $textColor;
  }
}

form {
  width: 65%;
  text-align: center;
}

.form-group {
  textarea {
    width: 100%;
    height: 300px;
    text-align: right;

    &:focus {
      outline: none;
    }
  }

  margin-bottom: 15px;
}

.button-container {
  display: flex;
  gap: 48px;
  justify-content: center;

  button {
    width: fit-content;
  }

  button:last-child {
    color: $textColor;
  }
}

@media only screen and (max-width: 480px) {
  section {
    padding: 32px 0px;
    text-align: center;
  }

  form {
    width: 90%;
  }

  .button-container {
    gap: 20px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  form {
    width: 90%;
  }
}
