@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

$secondaryColor: #50e3c2;
$primaryColor: #4a90e2;
$accentColor: #f5a623;
$backgroundColor: #f4f4f4;
$textColor: #4a4a4a;

body,
html {
  font-family: "Rubik", sans-serif;
}

body {
  background-color: $backgroundColor;
}

h1 {
  font-size: 11.089rem;
}

h2 {
  font-size: 6.854rem;
}

h3 {
  font-size: 4.236rem;
}

h4 {
  font-size: 2.618rem;
}

h5 {
  font-size: 1.618rem;
}

p {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: $textColor;
  margin: 0;
}

.primary-button {
  font-size: 1rem;
  padding: 16px 32px;
  color: $backgroundColor;
  background-color: $primaryColor;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease;
}

.primary-button:hover {
  background-color: darken($color: $primaryColor, $amount: 10);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.secondary-button {
  font-size: 1rem;
  padding: 16px 32px;
  color: $backgroundColor;
  background-color: $accentColor;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease;
}

.secondary-button:hover {
  background-color: darken($color: $accentColor, $amount: 10);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

input {
  padding: 10px 10px 10px 5px;
  width: 100%;
  outline: none;
  transition: border-color 0.3s;
  text-align: right;
  margin-top: 20px;
  color: $textColor;
  border: none;
  border-bottom: 1px solid $textColor;
}

input:focus {
  border-bottom: 3px solid $primaryColor;
}

label {
  position: absolute;
  top: 30px;
  right: 0px;
  padding: 0;
  font-size: 20px;
  pointer-events: none;
  color: $textColor;
  transition: all 0.5s ease;
  line-height: 1;
}

input:focus ~ label,
input:valid ~ label {
  top: 0px;
  right: -10px;
  font-size: 16px;
  color: $primaryColor;
}

a {
  color: $primaryColor;
  transition: all 0.3s ease;
}

a:hover {
  color: $secondaryColor;
}
