<div class="page-container">
  <div class="content-container">
    <div class="logo-container">
      <div class="logo"></div>
    </div>
    <h5>כניסה למערכת</h5>
    <form
      (ngSubmit)="onSubmit()"
      #loginForm="ngForm"
      autocapitalize="off"
      autocomplete="off"
    >
      <div class="form-group">
        <input
          type="text"
          id="name"
          name="name"
          required
          [(ngModel)]="username"
        />
        <label for="name">שם משתמש</label>
      </div>
      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          required
          [(ngModel)]="password"
        />
        <label for="password">סיסמה</label>
      </div>
      <p *ngIf="errorMessage">{{ errorMessage }}</p>
      <button
        class="primary-button"
        type="submit"
        [disabled]="!loginForm.form.valid"
      >
        כניסה
      </button>
    </form>
    <div class="forgot-pass-container">
      <a href="#">שכחתי סיסמה</a>
    </div>
  </div>
</div>
