<section @fadeUp>
  <div class="current-display-header">
    <h5>טבלת משמרות עדכנית</h5>
    <h5>תאריך - תאריך</h5>
  </div>
  <div class="current-shift-workers-block">
    <h5>עובדים היום:</h5>
    <div>
      <span style="text-decoration: underline"
        ><i class="material-icons">light_mode</i> בוקר: </span
      ><span>user1</span>
    </div>
    <div class="devider"></div>
    <div>
      <span style="text-decoration: underline"
        ><i class="material-icons">wb_twilight</i> ערב: </span
      ><span>user1</span>
    </div>
    <div class="devider"></div>
    <div>
      <span style="text-decoration: underline"
        ><i class="material-icons">dark_mode</i> לילה: </span
      ><span>user1</span>
    </div>
  </div>
  <div class="table-commands-container">
    <button class="print-button-desktop">
      הדפס משמרות <i class="material-icons">print</i>
    </button>
    <div class="week-selector-container">
      <button><i class="material-icons">arrow_forward_ios</i></button>
      <h4>
        מציג שבוע: <br />
        <span style="text-decoration: underline">תאריך - תאריך</span>
      </h4>
      <button><i class="material-icons">arrow_back_ios</i></button>
    </div>
  </div>
  <div class="table-container">
    <app-calendar></app-calendar>
  </div>
</section>
