<section @fadeUp>
  <div class="current-display-table-headers-container">
    <div class="current-display-header cs-grid-1">
      <h5>טבלת משמרות עדכנית</h5>
      <h5>תאריך - תאריך</h5>
    </div>
    <div class="current-shift-container cs-grid-3">
      <h5>:עובדים היום</h5>
      <div><i class="material-icons">light_mode</i> בוקר user1</div>
      <div><i class="material-icons">wb_twilight</i> ערב user2</div>
      <div><i class="material-icons">dark_mode</i> לילה user3</div>
    </div>
    <button class="primary-button cs-grid-4">בקשה להחלפת משמרת</button>
    <button class="print-button cs-grid-5">
      <i class="material-icons">print</i>
    </button>
    <div class="week-selector-container cs-grid-6">
      <button><i class="material-icons">arrow_forward_ios</i></button>
      <h4>
        מציג שבוע:
        <span style="text-decoration: underline">תאריך - תאריך</span>
      </h4>
      <button><i class="material-icons">arrow_back_ios</i></button>
    </div>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>שבת</th>
          <th>שישי</th>
          <th>חמישי</th>
          <th>רביעי</th>
          <th>שלישי</th>
          <th>שני</th>
          <th>ראשון</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>בוקר</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>ערב</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>לילה</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
